@import '../../../scss/variables';

.sidebar {
    width: $sidebar-width;
    border-right: 1px solid $global-layout-border-color;
    box-shadow: 4px 0 4px 0 $global-layout-shadow-color;

    .subMenu {
        &:not(.collapsible) {
            :global(.ant-menu-submenu-arrow) {
                display: none;
            }
        }
    }
}
