@import '../../../../scss/variables';

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;

    a {
        display: flex;
        align-items: center;
        color: white;
    
        &:hover {
            color: $link-color--hover;
        }
    }

    .homeIcon {
        margin-right: 8px;
        font-size: 28px;
    }

    .menuIcon {
        display: none;
        margin-right: 8px;
    }

    @media screen and (max-width: $screen-sm) {
        .menuIcon {
            display: block;
        }

        .homeIcon {
            display: none;
        }
    }
}
